<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Liste des Commits</h1>
    <div id="commits-container">
        {% for commit in commits %}
            <div class="commit">
                <p><strong>Auteur :</strong> {{ commit.author }}</p>
                <p><strong>Date :</strong> {{ commit.date }}</p>
                <p><strong>Message :</strong> {{ commit.message }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
